---
import "../styles/global.css";
interface Props {
  title: string;
  description: string;
  keywords?: string;
}

const { title, description, keywords } = Astro.props;
---

<!doctype html>
<html lang="es" class="dark">
  <head>
    <meta charset="UTF-8" />

    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta name="kewords" content={keywords} />

    <!-- Open Graph -->
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://bontedeco.netlify.app" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta
      property="og:image"
      content="https://opengraph.b-cdn.net/production/images/870324c4-b71e-4a6e-8541-183c509b1f2c.png?token=koboDCOpKOrDZWKk2_o3netnSJVerLFeG1q17I4YiKQ&height=655&width=1200&expires=33265650320"
    />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="bontedeco.netlify.app" />
    <meta property="twitter:url" content="https://bontedeco.netlify.app" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta
      name="twitter:image"
      content="https://opengraph.b-cdn.net/production/images/870324c4-b71e-4a6e-8541-183c509b1f2c.png?token=koboDCOpKOrDZWKk2_o3netnSJVerLFeG1q17I4YiKQ&height=655&width=1200&expires=33265650320"
    />

    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
